.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title, .autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

#body{
    font-family: 'Imprima', sans-serif;
}

#heading{
   font-family: 'Imprima', sans-serif;
    font-size: 38px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 5px;
    color:#FFFFFF;
}
#heading2{
    font-family: 'Imprima', sans-serif;
    font-size: 38px;
    padding-left: 2px;
    padding-bottom: 3px;
    color:#FFFFFF;
}
#owllogo{
    width: 50px;
    height: 50px;
    padding-right: 1px;;
}

#landingpage_body
{
    background: url('/public/src/img/mb-bg-fb-09.png');
    color: white;
}

#owllogo_landing{
    align-content:  center;
    float: none;
    padding: 0;
    vertical-align:middle;
}
  
 .landing_header{   
     color: white;
     font-size: 8em;
     font-weight: 100;
     margin-left: 380px;
     
 }
